:root {
  --brand-color: #2e2f42;
  --color-text: #fff;
  --color-logo: #4d5ae5;
  --color-contact: #434455;
  --color-back: #f4f4f4;
  --color-btn: #f4f4fd;
  --color-ground: #ffffff;
  --color-border: #e7e9fc;
  --color-icon: #8e8f99;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--color-ground);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/**--------- HEADER ---------*/
.header {
  background: #f7faff;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  padding: 0 60px;
}
.link-header {
  align-items: center;
  justify-content: center;
  display: flex;
}

.header-container {
  display: block;
  flex-grow: 1;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-menu {
  display: flex;

  gap: 30px;
}
.header-menu-item {
  display: flex;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link {
  color: #0a224a;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 26px 0;
}

/**------FOOTER-----**/

/** ------------- MAIN PAGE ------------**/

/** ------Hero ------ **/
/** ------About us ------ **/
.about-section {
  padding: 64px 0;
}
.about-us-foto {
}
.line-div {
  display: flex;
  gap: 20px;
}
.text-about {
  color: #0a224a;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.title-about {
  color: #0a224a;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 30px;
}
.text2-about {
  color: #0a224a;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 64px;
}
.title-item {
  color: #0a224a;
  text-align: center;
  font-family: "Roboto";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
.text-item {
  color: #0a224a;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 170px;
}
.about-us-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  background: #f7faff;
}
/** ------Price ------ **/
.price {
  padding-bottom: 64px;
}

.price-item {
  border-top: 1px solid #0a224a;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}
.price-item:last-child {
  border-bottom: 1px solid #0a224a;
}
.price-prod {
  color: #0a224a;
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
.price-price {
  color: #0a224a;
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
/** ------Hero ------ **/
